<section class="page-header">
        <div class="divTableRow">
          <div class="divTableCell header-meta-left-filler">
            <img height="100" width="100"src="/assets/images/code.png"/>
          </div>
          <div class="divTableCell header-meta-main-filler">
              <h1 class="project-name"><a href="/" class="blog-title">{{ site.title | default: site.github.repository_name }}</a></h1>
              <h3 class="project-tagline">{{ site.tagline | default: site.github.project_tagline }}</h3>
          </div>
          {% if site.github.is_project_page %}
            <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
          {% endif %}
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
          {% endif %}
          <div class="divTableCell">
              <a href="{{ site.url }}/about/" class="btn">About</a></span>
          </div>
        </div>
        <input type="text" id="search" placeholder="search" class="search-text-box" onkeypress="return processSearchInput(event)">
</section>
<a href="https://github.com/{{ site.github_username}}"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/121cd7cbdc3e4855075ea8b558508b91ac463ac2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png"></a>