<div class="share-page">
    <h4>If you like this post, please share it :</h4>
    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
    <script type="IN/Share"></script>
    <a rel="nofollow" target="_blank" href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <iframe class="facebook-share" src="https://www.facebook.com/plugins/like.php?href={{site.url}}{{page.url}}&width=100px&layout=button&action=like&size=small&show_faces=false&share=true&height=65&appId=187708534612066" width="100px" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    <a class="tumblr-share-button" rel="nofollow" target="_blank" href="https://www.tumblr.com/share"></a>
    <a class="reddit-share" rel="nofollow" target="_blank" href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="//www.redditstatic.com/spreddit7.gif" alt="submit to reddit" border="0" /> </a>
</div>